.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 706px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 124px;
}

#pu122
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u122
{
	z-index: 6;
	width: 1279px;
	height: 160px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.17;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
	filter: alpha(opacity=17);
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u129-4
{
	z-index: 7;
	width: 294px;
	min-height: 54px;
	font-size: 36px;
	line-height: 43px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 234px;
}

#u125
{
	z-index: 11;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 156px;
}

#u128-5
{
	z-index: 13;
	width: 132px;
	min-height: 17px;
	font-size: 18px;
	line-height: 22px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 640px;
}

#u134-4
{
	z-index: 18;
	width: 132px;
	min-height: 17px;
	font-size: 18px;
	line-height: 22px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 801px;
}

#lessondemo
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 130px;
}

#u145-4
{
	z-index: 22;
	width: 357px;
	min-height: 19px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 134px;
	margin-top: 66px;
	position: relative;
}

#pu158-4
{
	width: 0.01px;
	margin-left: 151px;
	margin-top: 54px;
	position: relative;
}

#u158-4
{
	z-index: 2;
	width: 312px;
	min-height: 41px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u158-4:hover
{
	background-color: #4D4E7C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 312px;
	margin: 81px -10000px 0px 0px;
}

#u147-4
{
	z-index: 26;
	width: 312px;
	min-height: 41px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u148-4
{
	z-index: 30;
	width: 468px;
	min-height: 17px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u156
{
	z-index: 34;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 18px;
}

#u150-4
{
	z-index: 35;
	width: 282px;
	min-height: 17px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u161
{
	z-index: 39;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 1px;
}

#u160-4
{
	z-index: 40;
	width: 312px;
	min-height: 41px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u157
{
	z-index: 44;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 13px;
}

#u154-4
{
	z-index: 45;
	width: 298px;
	min-height: 17px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u190
{
	z-index: 49;
	width: 560px;
	min-height: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 421px;
}

#u205
{
	z-index: 51;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
}

#u208-4
{
	z-index: 52;
	width: 312px;
	min-height: 41px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u147-4:hover,#u160-4:hover,#u208-4:hover
{
	background-color: #4D4E7C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 312px;
	margin: 0px -10000px 0px 0px;
}

#u206
{
	z-index: 56;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 13px;
}

#u207-4
{
	z-index: 57;
	width: 298px;
	min-height: 17px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

body
{
	padding-top: 35px;
	padding-bottom: 54px;
}

#page .verticalspacer
{
	clear: both;
}

